*{
   margin: 0px;
   padding: 0px;
   font-family: 'Roboto', sans-serif;
}
.test-cen{
    display: block;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    right: 30px;
    border-radius: 50%;
 }
 .banner-top{
    background-color: rgb(248, 248, 248);
 }
 .side{
   font-size: 40px;
 }
 .scroll1{
   background-color: rgb(218, 218, 53);
   font-size: 20px;
 }
 .video-school{
   border-radius: 20px;
 }
 .contet{
   font-size: 70px;
 }
 #song-bang{
   text-align: center;
   justify-items: center;
   display: block;
 }
 a, div, p:hover{
   color:black
 }
.design{
   border-radius: 5%;
}
.design:hover{
   box-shadow: 1px 3px 7px black;
   border-radius: 5%;
}
.why{
   display: flex;
   justify-content: center;
   align-items: center;
   color: rgb(72, 232, 40);
}

.hinh-anh{
   left: 20px;
   width: 100px;
   height: 100px;
   text-align: center;
   justify-items: center;
   border-radius: 50%;
   border: 2px solid black
}
.box{
   padding-top:25px;
   text-align: center;
}
.hinh-anh:hover{
   color: #FFF;
   background-color: red;
}
.xem-anh{
   width: 370px;
   padding-left: 50px;
}
.secial-cer{
   text-align: center;
}
.N-design{
   color: #FFF;
   border-radius: 20px;
   background-color: rgb(56, 129, 107);
}
.chu:hover{
   color:red;
}
.chu{
   color:black;
   text-decoration: none;
}
.hien{
   height: 110px;
}
.backk{
   background-image: linear-gradient(to right, aqua, yellow);
   background-repeat: no-repeat;
   background-size: cover;
   
}
.logo-footer{
   width: 120px;
   border-radius: 50%;
}
ul, li{
   list-style: none;
}
.local{
   text-decoration: none;
   color: black;
}
.btn{
   font-size: 40px;
   font-weight: 800
}
.items{
   position: relative;
}
.items::after{
   contain: "";
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   width: 0;
   background-color: aqua;
   transition: width 0,7s linear;
}
.items:hover::after{
   width: 100%;
}

